@model Something.Models.EmailModel
@{
    ViewBag.Title = "Contact Form for EmailController";
}
@Styles.Render("~/Content/form")
@section featured {
    <div id="form-main">
        <div id="form-div">
            @using (Html.BeginForm("ContactForm", "Email", FormMethod.Post)) {
                <p class="name inputIco">
                    <i class="fa fa-user fa-lg fa-fw"></i>
                    @Html.TextBoxFor(m => m.FromName, new { @class = "length[0,100]] feedback-input", @placeholder = "Name", @required = "true", @autofocus = "true" })
                </p>

                <p class="email inputIco">
                    <i class="fa fa-envelope fa-lg fa-fw"></i>
                    @Html.TextBoxFor(m => m.From, new { @class = "feedback-input", @placeholder = "Email", @type = "email", @required = "true" })
                </p>

                <p class="url inputIco">
                    <i class="fa fa-globe fa-lg fa-fw"></i>
                    @Html.TextBoxFor(m => m.FromUrl, new { @class = "feedback-input", @placeholder = "Have a relevant website?", @type = "url" })
                </p>

                <p class="tel inputIco">
                    <i class="fa fa-phone fa-lg fa-fw"></i>
                    @Html.TextBoxFor(m => m.FromPhone, new { @class = "feedback-input", @placeholder = "Ten digit phone number", @title = "Ten digit phone number", @type = "tel", @required = "true",
                    @pattern = "^\\d{10}$" })
                </p>

                <!--<p class="select">
                    <select id="select" class="validate[required] feedback-input">
                        <option></option>
                        <option>Default</option>
                        <option>This one</option>
                        <option>That one</option>
                        <option>Everything</option>
                        <option>Esoteric</option>
                    </select>
                </p>-->

                <p class="text inputIco">
                    <i class="fa fa-pencil fa-lg fa-fw"></i>
                    @Html.TextAreaFor(m => m.Body, new { @class = "feedback-input", @placeholder = "What can we do for you?", @required = "true"})
                </p>

                <div class="submit">
                    <input type="submit" value="SEND" id="button-submit" />
                    <div class="ease"></div>
                </div>
            }
        </div>
    </div>
}
@section scripts {
    <script>
        $(function () {
            var name = $("FromName").val();
            var email = $("From").val();
            var site = $("FromeUrl").val();
            var phone = $("FromePhone").val();
            var comment = $("Body");

            $(document).keypress(function (event) {
                if (event.which == 48) {
                    alert('cookies enabled?: ' + window.navigator.cookieEnabled + ". ");
                }
            });
        });

        
    </script>
}
